#domainDir: /domains
#serviceDir: /services
#etcdAddress: http://localhost:4001/
driver: rancher
rancher:
  host: http://192.168.99.100:8080/v1/projects/1a5
  accessKey: C6E65013157B286391B0
  secretKey: yRL8cRGEzieGFw9vWB5yaN5BwpShcJbMEALQit6x

#apiKeys:
#  io:
#    accessKey: A23DR
#    secretKey: secret

#  badKeys:
#    accessKey: 1234 #Number
#    secretKey: secret

#  badKeys2:
#    accesKey: A23DR #bad key name
#    scrKey: secret #bad key name

